*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: 1;
}

.nav-content{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    max-width: 950px;
}

.icon{
    height: 13px;
    display: block;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

nav ul{
    display: block;
    margin: 0 auto;
    list-style: none;
    font-size: 0;
}

nav li {
    font-size: 9pt;
    display: inline-block;
    color: rgb(202, 202, 202);
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: calc(100% / 12);
    vertical-align: middle;
    position: relative;
}

nav :first-child {
    font-size: 13pt;
}

nav li:hover{
    color: white;
    transition: color linear 0.2s;
}

.section-iphone13{
    height: 85vh;
    width: 100%;
    background: white;
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../img/iphone13pro.jpg");
    margin-bottom: 10px;
    position: relative;
}

 .section-text{
    position: absolute;
    width: 80%;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section-text h1{
    text-align: center;
    font-size: 40pt;
    font-weight: 500;
}

.section-text h2{
    text-align: center;
    font-size: 20pt;
    font-weight: 300;
}

.section-links{
    margin-top: 20px;
    color: #06c;
    text-align: center;
    font-size: 15pt;
    font-weight: 300;
}

.section-links span:first-child{
    margin-right: 40px;
}

.section-iphone13-2{
    height: 85vh;
    width: 100%;
    background: #33293c;
    background-image: url("../img/iphone13-2.jpeg");
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    position: relative;
    color: white;
}

.section-iphone13-2 h2{
    color: #fec2eb;
}

.section-iphone13-2 .section-links{
    color: #2997ff;
}

.section-watch{
    height: 85vh;
    width: 100%;
    background: #33293c;
    background-image: url("../img/watch.jpeg");
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    position: relative;
    color: black;
}

.logowatch{
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.section-text .new{
    text-align: center;
    position: relative;
    font-size: 13pt;
    color: #bf4800;
    font-weight: 300;
    display: block;
}

.mosaic{
    width: 100%;
    height: auto;
    background: white;
    font-size: 0;
}

.card{
    width: calc(50% - 15px);
    margin-bottom: 10px;
    height: 55vh;
    background: #f5f5f7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-position-y: bottom;
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
}

.card h1{
    font-size: 29pt;
}
.card h2{
    font-size: 15pt;
    font-weight: 400;
    color: rgb(80, 80, 80);
}

.card .section-links{
    font-size: 13pt;
}

.card:nth-child(2n+2){
    margin-left: 5px;
    margin-right: 10px;
}

.card-1{
    background-image: url("../img/card1.jpeg");
}

.card-2{
    background-image: url("../img/card2.jpeg");
}

.card-3{
    background-image: url("../img/card3.jpeg");
}

.card-4{
    background-image: url("../img/card4.jpeg");
}

.card-5{
    background-image: url("../img/card5.jpeg");
}

.card-6{
    background-image: url("../img/card6.jpeg");
}

.card-3 .section-links span{
    margin-right: 0px;
}

.card-3 h1, .card-3 h2{
    color: #602d62;
}

.card-6 h1, .card-6 h2, .card-6 .section-links span, .card-6 .section-links{
    color: rgb(231, 231, 231);
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.card-6 .section-text{
    top: 80%
}

.logomacbeth{
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
}

.logomini{
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer{
    background-color: #f5f5f7;
    width: 100%;
    padding-top: 20px;
}

footer .disclamer{
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
    color: #99999c;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 25px;
}

footer .disclamer p{
    margin-bottom: 20px;
}

.menu{
    margin: 0 auto;
    width: 90%;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-bottom: 10px;
    color: #8a8a8a;

}

.col{
    width: calc(100% / 5 - 20px);
    margin-right: 20px;
    font-size: 12px;
    border-bottom: 1px solid #dbdbdb;
    float: left;
}

.menu::after, .menu::before{
    content: "";
    display: table;
    clear: both;
}

.menu h3{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
    color: rgb(59, 59, 59);
}

